<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neighbus.club.ClubMapper">
   
    <insert id="insertClub" 
            parameterType="com.neighbus.club.ClubDTO" 
            useGeneratedKeys="true" 
            keyProperty="id">
        
        INSERT INTO clubs (
            club_name,
            creator,
            city,
            created_at
        ) VALUES (
            #{clubName},    #{creator},     #{city},        NOW()           )
    </insert>

    <insert id="addCreatorAsMember" 
            parameterType="com.neighbus.club.ClubDTO">
        
        INSERT INTO club_members (
            club_id,
            user_id,
            created_at
        ) VALUES (
            #{id},          #{creator},     NOW()
        )
    </insert>
    
    <insert id="insertClubMember"
        parameterType="com.neighbus.club.ClubMemberDTO">
    
    INSERT INTO club_members (
        club_id,
        user_id,
        created_at
    ) VALUES (
        #{clubId},    #{userId},    NOW()         )
</insert>
	<!--전체 조회 -->
    <select id="findAllClubs" resultType="com.neighbus.club.ClubDTO">
        SELECT * FROM clubs
    </select>
    
     <!-- 단일 조회 -->
    <select id="getClubById" parameterType="int" resultType="com.neighbus.club.ClubDTO">
        SELECT
            c.id,
            c.club_name AS clubName,
            c.creator,
            u.username AS creatorName,
            c.city,
            ci.city AS cityName,
            c.created_at AS createdAt
        FROM clubs c
        LEFT JOIN users u
            ON c.creator = u.id
        LEFT JOIN cities ci
            ON c.city = ci.id
        WHERE c.id = #{id}
    </select>
    
</mapper>