<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neighbus.club.ClubMapper">

	<!-- 지역 필터 조건 -->
	<sql id="regionWhere">
		<if test="province>0">
			and
			province_id = #{province}
		</if>
		<if test="city>0">
			and
			city = #{city}
		</if>
	</sql>
	<!--동아리 생성-->
	<insert id="insertClub"
		parameterType="com.neighbus.club.ClubDTO"
		useGeneratedKeys="true"
		keyProperty="id">

		INSERT INTO clubs (
		club_name,
		club_info,
		city,
		province_id,
		created_at
		) VALUES (
		#{clubName}, #{clubInfo}, #{city}, #{provinceId}, NOW()
		)
	</insert>
	<!--내 동아리 조회-->
	<select id="getMyClubs" parameterType="int"
		resultType="com.neighbus.club.ClubDTO">
		SELECT
		c.id,
		c.club_name AS clubName,
		c.club_info AS clubInfo,
		ci.city AS cityName,
		p.province AS provinceName,
		c.created_at AS createdAt
		FROM clubs c
		JOIN club_members m ON c.id = m.club_id
		LEFT JOIN provinces p ON c.province_id = p.id
		LEFT JOIN cities ci ON c.city = ci.id
		WHERE m.user_id = #{userId}
		ORDER BY m.created_at DESC
	</select>

	<!--시 도 카테리고리 분류-->
	<select id="getOderProvince" parameterType="int"
		resultType="com.neighbus.club.ClubDTO">
		SELECT
		c.id,
		c.club_name AS clubName,
		c.city,
		c.club_info AS clubInfo,
		ci.city AS cityName,
		c.created_at AS createdAt,
		p.province AS provinceName
		FROM clubs c
		LEFT JOIN provinces p ON c.province_id = p.id
		LEFT JOIN cities ci ON c.city = ci.id
		WHERE c.province_id = #{provinceId}
	</select>

	<select id="getOderCity" parameterType="map"
		resultType="com.neighbus.club.ClubDTO">
		SELECT
		c.id,
		c.club_name AS clubName,
		c.city,
		c.club_info AS clubInfo,
		ci.city AS cityName,
		c.created_at AS createdAt,
		p.province AS provinceName
		FROM clubs c
		LEFT JOIN provinces p ON c.province_id = p.id
		LEFT JOIN cities ci ON c.city = ci.id
		WHERE c.province_id = #{provinceId}
		AND c.city = #{city}
	</select>


	<!--동아리 가입-->
	<insert id="insertClubMember"
		parameterType="com.neighbus.club.ClubMemberDTO">
		INSERT INTO club_members (
		club_id,
		user_id,
		created_at
		) VALUES (
		#{clubId}, #{userId}, NOW()
		)
	</insert>
	<!--동아리 탈퇴-->
	<delete id="deleteClubMember" parameterType="map">
		delete from club_members
		where club_id= #{clubId} and user_id = #{userId}
	</delete>

	<select id="findAllClubs" resultType="com.neighbus.club.ClubDTO">
		SELECT
		c.id,
		c.club_name AS clubName,
		c.city,
		c.club_info AS clubInfo,
		ci.city AS cityName,
		c.created_at AS createdAt,
		p.province AS provinceName
		FROM clubs c
		LEFT JOIN provinces p
		ON c.province_id = p.id LEFT JOIN cities ci
		ON c.city = ci.id
	</select>
	<!--중복 가입 검증-->
	<select id="isMember" parameterType="com.neighbus.club.ClubMemberDTO"
		resultType="int">
		SELECT COUNT(*)
		FROM club_members
		WHERE club_id = #{clubId} AND user_id = #{userId}
	</select>

	<select id="getClubById" parameterType="int"
		resultType="com.neighbus.club.ClubDTO">
		SELECT
		c.id,
		c.club_name AS clubName,
		c.club_info AS clubInfo,
		ci.city AS cityName,
		c.created_at AS createdAt,
		p.province AS provinceName
		FROM clubs c
		LEFT JOIN cities ci
		ON c.city = ci.id
		LEFT JOIN provinces p
		ON c.province_id = p.id WHERE c.id = #{id}
	</select>
	
	<select id="getMyClub" parameterType="int" resultType="HashMap">
		select
			id AS id,
			club_name AS clubName
		from
			clubs c
		where
			c.id in (select cm.club_id from club_members cm where cm.user_id=#{id})
	</select>

	<!-- 최신순 -->
	<select id="getNewClub" resultType="HashMap"
		parameterType="com.neighbus.main.SearchDTO"> select c.id as id,
		c.club_name as clubName, c.club_info as clubInfo, c.province_id as
		provinceId, c.city as cityId, c.club_img as clubImg, c.created_at as
		created, count(m.user_id) as memberCount from clubs c left join
		club_members m on c.id = m.club_id where 1=1 <include
			refid="regionWhere" /> group by c.id, c.club_name, c.club_info,
		c.province_id, c.city, c.club_img, c.created_at order by c.id desc limit
		3; </select>

	<!-- 멤버순 -->
	<select id="getPopularClub" resultType="HashMap"
		parameterType="com.neighbus.main.SearchDTO"> select c.id as id,
		c.club_name as clubName, c.club_info as clubInfo, c.province_id as
		provinceId, c.city as cityId, c.club_img as clubImg, c.created_at as
		created, count(m.user_id) as memberCount from clubs c left join
		club_members m on c.id = m.club_id where 1=1 <include
			refid="regionWhere" /> group by c.id, c.club_name, c.club_info,
		c.province_id, c.city, c.club_img, c.created_at order by memberCount
		desc limit 3; </select>



    <!-- 동아리 총 개수 조회 -->
    <select id="getClubCount" resultType="int">
        SELECT count(*) FROM clubs c
        LEFT JOIN provinces p ON c.province_id = p.id
        LEFT JOIN cities ci ON c.city = ci.id
        <where>
            <if test="keyword != null and keyword != ''">
                and (c.club_name like concat('%', #{keyword}, '%')
                or p.province like concat('%', #{keyword}, '%')
                or ci.city like concat('%', #{keyword}, '%'))
            </if>
        </where>
    </select>

    <!-- 페이징 처리된 동아리 목록 조회 -->
    <select id="getClubListWithPaging" parameterType="com.neighbus.club.ClubDTO" resultType="com.neighbus.club.ClubDTO">
        SELECT
            c.id,
            c.club_name AS clubName,
            c.club_info AS clubInfo,
            c.created_at AS createdAt,
            p.province AS provinceName,
            ci.city AS cityName
        FROM clubs c
        LEFT JOIN provinces p ON c.province_id = p.id
        LEFT JOIN cities ci ON c.city = ci.id
        <where>
            <if test="keyword != null and keyword != ''">
                and (c.club_name like concat('%', #{keyword}, '%')
                or p.province like concat('%', #{keyword}, '%')
                or ci.city like concat('%', #{keyword}, '%'))
            </if>
        </where>
        ORDER BY c.created_at DESC
        LIMIT #{beginRowNo}, #{rowCnt}
    </select>
    
    <!-- 가입된 동아리 개수 -->
    <select id="checkJoinClubCount" parameterType="int" resultType="int">
    	select count(*) from club_members where user_id=#{id}
    </select>

</mapper>